body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000c4f, #006d56, #15d200);
    color: white;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f1f1f1;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.options a {
    color: white;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}
