body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000c4f, #006d56, #15d200);
    color: #FFFFFF; /* White text */
}

.container {
    text-align: center;
    background: linear-gradient(135deg, #000c4f, #006d56, #15d200);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h1 {
    margin: 5px 0;
}

p {
    margin: 5px 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #FFFFFF; /* White text */
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-3px);
}

.social-links img {
    width: 20px; /* Adjust as needed */
    height: auto;
    vertical-align: middle;
    margin-right: 5px; /* Adjust spacing */
}

.play-store .social-icon {
    width: 26px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Aligns the image vertically with the text */
}

.youtube img {
    width: 26px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Aligns the image vertically with the text */
}

.social-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

.links a, .links button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    color: #1C2928; /* Dark background color */
    background-color: #B0FF2E; /* Light text color */
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    border: none;
    cursor: pointer;
}

.links a:hover, .links button:hover {
    background-color: #94d900;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.video-container {
    position: relative;
    width: 100%;
    padding-top: 125%; /* 4:5 Aspect Ratio */
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
